/* =================================
MODAL ORGANISM STYLES
==================================*/

.modal-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 100000;
}
#modal-flex-aligner {
	display: flex;
	flex-direction: column;
	align-self: center;
	flex: 1;
	margin: 5% 0 5% 0;
	// width: 90vw;
	aspect-ratio: 16/9;
}
.aligner-item {
	flex: 1;
}
.modal-content {
	display: flex;
	flex-direction: column;
	border: none;
	background-color: #ffffff;
}
.modal-title {
	margin: 8px;
}
.modal-close-icon-wrapper {
	float: right;
	margin: 8px;
}
.modal-close-icon {
	cursor: pointer;
}
.modal-close-icon:hover {
	color: $SECONDARY_DARK;
}
@media (min-width: 256px) {
	#modal-flex-aligner {
		margin: 0;
		height: 100vh;
		width: 100vw;
	}
	.modal-content {
		border-radius: 0;
	}
	#modal-flex-aligner > div:first-child {
		max-height: 0%;
	}
	#modal-flex-aligner > div:last-child {
		max-height: 0%;
	}
}
@media (min-width: 600px) {
	#modal-flex-aligner {
		margin: 5% 0 5% 0;
		width: 90vw;
		aspect-ratio: 16/9;
	}
	.modal-content {
		border-radius: 10px;
	}
	#modal-flex-aligner > div:first-child {
		max-height: 5%;
	}
	#modal-flex-aligner > div:last-child {
		max-height: 5%;
	}
}
