/* =================================
GLOBAL STYLES
==================================*/

/* =================================
BODY
==================================*/

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url(../../assets/images/the-dude-abides.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/* =================================
MAIN
==================================*/

main {
	height: 100%;
	width: 100%;
}

/* =================================
WRAPPERS
==================================*/

/* =================================
HEADERS
==================================*/

/* =================================
SECTIONS
==================================*/

/* =================================
ARTICLES
==================================*/

/* =================================
FOOTERS
==================================*/

/* =================================
LINKS
==================================*/

/* =================================
UNORDERED LISTS
==================================*/

/* =================================
ORDERED LISTS
==================================*/

/* =================================
IMAGES
==================================*/

/* =================================
FORMS
==================================*/
